/*
* TEXT SELECTIONS
*/

@keyframes slide_left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

:root {
    --main-bg-color: lightpink;
    --main-text-color: maroon;
}

#side_icon_container {
    position: fixed;
    z-index: 2147483647;
    right: 0;
    top: 0;
    transform: translateY(50vh);
    cursor: pointer;
}

#side_icon_container .icon_btn {
    width: auto;
    height: auto;
    background-color: azure;
    padding: 7px;
    border-radius: 10px 0 0 10px;
    opacity: 60%;
}

#side_icon_container .icon_btn:is(:hover, .selected) {
    opacity: 100%;
}

#side_icon_container .icon {
    width: 24px;
    height: 24px;
}

#side_window_container * {
    font-family: Arial, Helvetica, sans-serif;
}

#side_window_container {
    position: absolute;
    z-index: 2147483647;
    top: 0px;
    display: block !important;
}

#side_window_container .side_window {
    position: fixed;
    right: 1vw;
    top: 1vh;
    width: 40vw;
    height: 96vh;
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    animation: slide_left 0.5s ease-in;
}

#side_window_container .side_window.hide {
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
}

#side_window_container .title {
    font-weight: 700;
    font-size: 24px;
    background-image: linear-gradient(to left, rgba(179, 51, 108, 0.9) 0%, var(--main-text-color) 50%, rgba(60, 169, 186, 0.9) 100%);
    background-clip: text;
    -webkit-text-stroke-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#side_window_container button {
    width: 60px;
    height: 30px;
    background-color: var(--main-text-color);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s, filter 0.3s;
    letter-spacing: calc(1em / 24);
}

#side_window_container button:is(:hover, .selected) {
    transform: translateY(-2px);
    filter: brightness(120%);
}

.side_window .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.header .hide {
    margin: 10px 0;
    margin-left: auto;
}

.side_window .chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    overflow-y: auto;
}

.content_show .chat_line {
    display: flex;
    font-size: 15px;
    word-wrap: break-word;
    
    letter-spacing: calc(1em / 24);
    line-height: 20px;

    color: white;
    
}

.content_show .user {
    justify-content: flex-end;
}

.user p {
    margin: 1vw;
    margin-left: 6vw;
    padding: 6px 12px;
    background-color: var(--main-text-color);
    border-radius: 10px 0 10px 10px;
}

.content_show .AI {
    justify-content: flex-start;
}

.AI p {
    margin: 2vw;
    margin-right: 6vw;
    padding: 5px 15px;
    background-image: linear-gradient(to left, rgba(179, 51, 108, 0.9), rgba(60, 169, 186, 0.9));
	border: 2px solid var(--main-text-color);
    border-radius: 0 10px 10px 10px;
}

.chat_line.AI .icon {
    width: 30px;
    height: 30px;
    animation: spin 1.25s linear 4;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 2px;
    border-radius: 0.5rem;
    margin-top: auto;
}

.footer .text_chat {
	width: calc(100% - 80px);
	height: 30px;
    margin: 0 1px;
    resize: none;
    border: none;
    outline: none;
    background: transparent;

}

.footer .text_chat::-webkit-scrollbar {
    display: none;
}

.footer .send_button {
    margin-left: auto;
}

#select_popup_container {
	position: absolute;
	pointer-events: none;
}

#select_popup_container .popup {
	width: auto;
	height: auto;
	overflow-wrap: break-word;
	background-color: var(--main-bg-color);
}



/*
* INPUT ACTIONS
*/

#input_icon_container {
    position: relative;
    cursor: pointer;
}

#input_icon_container .icon {
    position: absolute;
    z-index: 2147483647;
    width: 24px;
    height: 24px;
}